@media screen and (min-width:481px) {
    body {
        background-color: black;
    }
    body .container {
        display: grid;
        grid-template:15rem 1fr / 1fr 4fr;
        grid-template-areas: 
        "header header"
        "sidebar main";
        max-width: 800px;
        border-left: 4px solid rgb(128, 128, 128);
        border-right: 4px solid rgb(128, 128, 128);
    }
    body .nav-list{
        padding: 3rem 2rem 0rem 2rem;
        flex-direction: row;
        justify-content: space-between;
    }
    body .sidebar{
        position: relative;
        right: 0rem;
        background-color: rgb(231, 150, 118);
        grid-area: sidebar;
    }
    body .sidebar button{
        margin: 3rem 1rem;
        font-size: 24px;
        width: 14rem;
        min-height: 4rem;
    }
    body .book-form {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: fit-content;
        height:fit-content;
        border: 0.5rem solid rgb(97, 96, 96);
        border-radius: 2rem;
    }
}


html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: gainsboro;
}

input[type='text'],
input[type='number'] {
    min-height: 2rem;
    width: 14rem;
    border: 2px solid rgb(0,0,0,0.2);
    border-radius: 0.5rem;
    font-size: 18px;
}
input[type='text']:focus,
input[type='number']:focus {
    outline: none;
    border: 2px solid rgba(177, 4, 4, 0.973);
} 


.container-cover {
    display: none;
    background-color: black;
    opacity: 0.3;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;

}

.container {
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header {
    color: white;
    grid-area: header;
    position: relative;
}
/*create a blurred background image for the header. Width/height of 110% and margin of -5% to elminates color bleed*/
.header::before {
    content: '';
    background-image: url(images/Education_Experts_on_Billy_Madison.jpg);
    background-position: 0 -35px;
    background-size: 100%;
    filter: blur(10px);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;

}

.nav-list {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.logo h1 {
    font-size: 40px;;
    color: rgba(161, 5, 5, 0.966);
    margin: 15px 5px;
    -webkit-text-stroke: 1px rgb(216, 213, 213);
}
.logo p {
    font-size: 24px;
    font-weight: 700px;
    color: white;
    margin: 15px 5px;
}
.quote {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color:antiquewhite;
    text-align: center;
    padding: 2rem;
}
.sidebar {
    position: absolute;
    right: 1rem;

}
.sidebar button {
    display:block;
    border: none;
    background-color: rgb(158, 27, 27);
    color: white;
    transition: 0.2s;
    box-shadow: 1px 1px 8px rgb(77, 76, 76);
    border-radius: 20px;
    text-align: center;
    font-size: 16px;
    padding: 0.5rem;
    
}
.sidebar button:hover{
    transform: translateY(-3px);
    box-shadow: 2px 4px 10px rgb(77, 76, 76);
    opacity: 1;
}
.main{
    background-color: gainsboro;
    grid-area: main;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0
}
.main .book-list{
    display:grid;
    padding: 3rem 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    gap: 1rem;
}
.add-book {
    background-color: rgb(228, 222, 222);
    background-image: url(images/add.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: black;
    width: 8rem;
    height: 10rem;
    border:10px dashed black;
    border-radius: 2rem;
    display: flex;
    position: relative;
    opacity: 0.3;
    transition-duration: 0.3s
}
.add-book:hover {
    opacity: 0.6;
}
.add-book::after {
    content: 'Click to add a new book';
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    width: 10rem;
    background-color:  white;
    border: 1px solid black;
    border-radius: 10px;
    position: absolute;
    left: 6rem;
    bottom: 6rem;
    opacity: 0;
    transition-duration: 0.3s;
}
.add-book:hover::after {
    opacity: 1;
}

.book-card {
    height: 10rem;
    width: 7rem;
    padding: 0.5rem;
    background-color: rgb(240, 160, 104);
    border-radius: 1rem;
    border-left: 1rem solid rgb(109, 62, 62);
    box-shadow: 0.5rem 0.5rem 10px rgb(153, 153, 153);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}
.book-card > div {
    font-size: 12px;
    text-align: left;
    padding: 0.25rem;
}

.book-card > div:first-child {
    font-size: 16px;
    font-weight: 700;
    padding-left: 0;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid rgb(109, 62, 62);
    margin-bottom: 0.5rem;
    min-width: 90%;
}
.book-card > div:nth-child(4) {
    font-size: 8px;
    flex: 1;
}

.book-card .read-button {
    position: absolute;
    top: 70%;
    left: -0.5rem;
    font-size: 10px;
    letter-spacing: 0.25rem;
    transform-origin: center left;
    transform: rotate(-90deg);
    color: rgb(235, 215, 151);
    background-color: transparent;
    font-weight: 700;
    border-radius: 10px;
    transition-duration: 0.2s
}
.book-card .read-button:hover {
    background-color: brown;
}
.book-card .read-button:hover::after {
    content: 'click to toggle read status';
    
    position: absolute;
    left: 1rem;
    top: 3rem;
    transform: rotate(90deg);
    width: 6rem;
    padding: 10px;
    background-color: white;
    color: rgb(63, 63, 63);
    font-size: 14px;
    letter-spacing: normal;
    font-weight: 100;
    border: 1px solid rgb(107, 105, 105);
    border-radius: 10px;

}

.book-card .read:hover{
    background-color: rgb(77, 153, 77);
}
.book-card .not-read:hover {
    background-color: rgb(197, 79, 79);
}

.book-card > div:last-child {
    display: flex;
    gap:0.25rem;
}
.book-card>div>button {
    background-color: rgb(248, 73, 73);
    opacity: 0.7;
    color: white;
    font-size: 12px;
    padding: 0.25rem;
    min-width: 3rem;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 0px rgb(92, 91, 91);
    transition-duration: 0.2s;
}
.book-card>div>button.book-card-edit{
    background-color: rgb(45, 148, 45);
}
.book-card>div>button:hover {
    opacity: 1;
    transform: scale(1.05);
}

.book-form {
    display: none;
    background-color: rgb(219, 216, 216);
    z-index: 1000;
    position: absolute;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
}
.book-form > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}
.book-form>form>h2{
    font-size: 32px;
    margin: 2rem;
    font-weight: 700;
}
.book-form > form > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /*
    body .book-form > form > div {
        flex-direction:row;
    }
    */
    
}
.book-form > form > div:nth-child(6) {
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 13rem;
    padding: 1rem;
}
.book-form > form > div:last-child {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 2rem;
}
.book-form>form>div>label {
    font-size: 18px;
    margin: 0.5rem 0;
}
.book-form button {
    height: 3rem;
    width: 6rem;
    color: white;
    font-weight: 700;
    border: none;
    border-radius:  18px;
    opacity: 0.7;
    box-shadow: 1px 1px 5px rgb(77, 76, 76);
}
.book-form button:hover {
    opacity: 1;
    transform: scale(1.05);
}
.submit-book {
    background-color: green;
}
.cancel-book {
    background-color: red;
}

.update-book {
    background-color: green;
    display: none;
}
.confirm-form {
    display: none;
    background-color: rgb(219, 216, 216);
    border: 0.5rem solid rgb(97, 96, 96);
    border-radius: 2rem;
    padding: 1rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    height: 10rem;
    width: 20rem;
}
.confirm-form h2{
    padding:10px;
    margin: 20px auto;
    font-size: 18px;
}
.confirm-buttons{
    display: flex;
    justify-content: space-evenly;

}
.confirm-form button {
    height: 3rem;
    width: 6rem;
    color: white;
    font-weight: 700;
    border: none;
    border-radius:  18px;
    background-color: rgb(248, 73, 73);
    opacity: 0.7;
    box-shadow: 1px 1px 5px rgb(77, 76, 76);
    transition-duration: 200ms;
}
.confirm-form button.confirm-delete{
    background-color: green;

}
.confirm-form button:hover {
    opacity: 1;
    transform: scale(1.1);
}